<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat APP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>


    <div id="app" class="col-lg-6 offset-3">

        <div class="card bg-info" v-if="ready">
            <div class="card-header text-white d-flex justify-content-between">
                <div class="font-weight-bold">Chat APP</div>
                <div class="font-weight-italic" v-if="userTyping">{{userTyping}} is Typing...</div>
                <div class="font-weight-light">{{connectionsCount}} Connections , {{online}} Online</div>
            </div>
            <div class="alert alert-warning text-center" role="alert" v-if="alertText">
                {{alertText}}
              </div>
            <ul class="list-group list-group-flush" v-for="message in messages">
                <li class="list-group-item">
                    <b>{{message.name}} : </b>{{message.text}}
                </li>
            </ul>

            <div class="form-group list-group-item">
                <textarea v-if="onPressEnter" v-on:keypress.enter.prevent="send" v-model='messageInput' placeholder="Type a message" class="form-control"></textarea>
                <textarea v-else v-model='messageInput' placeholder="Type a message" class="form-control"></textarea>
                <input @click="send" type="submit" value="ADD" class="form-control btn btn-primary text-white font-weight-bold">
            </div>
        </div>

        <div class="text-center card bg-info" v-else>
            <div class="card-header text-white font-weight-bold">
                Your name
            </div>
            <div class="form-group list-group-item">
                <input v-on:keypress.enter.prevent="userJoin" type="text" v-model="name" class="form-control" placeholder="ex: Jewel">
                <input @click="userJoin" type="submit" value="JOIN" class="form-control btn btn-primary text-white font-weight-bold">
            </div>
        </div>

    </div>





    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/socket.io-client/dist/socket.io.js"></script>
    <script>
        try {
            var socket = io.connect(`http://localhost:8000`);
        } catch (e) {
     
     
        }

        new Vue({
            el: '#app',
            data: {
                ready: false,
                name: null,
                messageInput: null,
                messageBind: '',
                userTyping: false,
                connectionsCount: 0,
                online: 0,
                messages: [],
                onPressEnter: true,
                alertText:false
            },
            computed: {

            },
            methods: {
                userJoin() {
                    this.name ? (socket.emit('join', this.name), this.ready = true) : this.ready = false
                },
                send() {
                    this.messageBind = {
                        name: this.name,
                        text: this.messageInput
                    }
                    this.messageInput ? (this.messages.push(this.messageBind), socket.emit('newMessage', this.messageBind),
                        this.messageInput = null) : ''
                }

            },
            watch: {
                messageInput(value) {
                    value ? socket.emit('userTyping', this.name) : socket.emit('userTyping', false)
                }
            },
            created() {
                socket.on('newMessage', data => {
                    this.messages.push(data)
                })
                socket.on('userTyping', data => {
                    this.userTyping = data
                    setTimeout(() => {
                        this.userTyping = false
                    }, 10000);
                })
            socket.on('alertText',data => {
                this.alertText = data
                setTimeout(() => {
                this.alertText = false
                }, 3000);
            })

                socket.on('connectionCount', data => {
                    this.connectionsCount = data
                })

                socket.on('onlineCount', data => {
                    this.online = data
                })

            }
        })
    </script>
</body>

</html>